- add_to_breadcrumbs _('Zentao issues'), project_integrations_zentao_issues_path(@project)
- breadcrumb_title zentao_issue_breadcrumb_link(@issue_json)
- page_title html_escape(@issue_json[:title])

.js-zentao-issues-show-app{ data: zentao_issues_show_data }
